@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 592px;
    margin: auto;
}

h1 {
    font-family: inter;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
}

h1 span {
    font-weight: bold;
}

span {
    color: #FF9900;
}

p {
    color: #7d7987;
    font-size: 14px;
    line-height: 28px;
}

p span {
    font-weight: bold;
    
}